extends index

block content
	h1 Artist name is #{artist_name}

	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br
	br
	ul
		each track in tracks
			li= track.drive_url

	iframe(frameborder='0' src='https://drive.google.com/file/d/1n9lnHF031ITw9vsiWv6bvRTXsN6bVzEF/preview')
