extends index3

block content
	h1 ADMIN DASHBOARD
	br
	
	- var admname = username;
	
	.welcometxt
		h1 Welcome #{admname}!
		

	.fishcontain
		.fish
			.fishchild
				a(href='../')
					img(src='Images/PageIMG/browsearchive.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='favorites')
					img(src='Images/PageIMG/favorites.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='usercrud')
					img(src='Images/PageIMG/users.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='artcrud')
					img(src='Images/PageIMG/artists.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='trackcrud')
					img(src='Images/PageIMG/tracks.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='logout')
					img(src='Images/PageIMG/logout.png' alt='Images/PageIMG/fail.png' height='250' width='250')
