extends index

block content
	h1 Admin Login
	br
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br
	p Form Goes Here!

	form(action='/admin', method='post')
		div.form-group
        	label(for='username') Email:
        	input#email.form-control(type='email', placeholder='Enter Username', name='email')
        div.form-group
        	label(for='password') Password:
        	input#pw.form-control(type='password' placeholder='Enter Password', name='password')
        button.btn.btn-primary(type='submit') Login

