extends index

block content
	h1 Admin Login
	br
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br
	p Form Goes Here!

	form(action='/admin', method='post')
	div
		label Username:
		input(type='text', id='username', name='username', placeholder='Enter Username')
	div
		label Password:
		input(type='password', id='password', name='password', placeholder='Enter Password')
	div
		button.btn.btn-primary.btn-block(type='submit') Login

