extends index

block content
	h1 Admin Login
	br
	form
		input(type='button', value='insert button text here', onclick="self.location='https://riddim-archive.herokuapp.com'") Go Back
	br
	br
	
	form(method='POST' action='/admin')
		div.form-group
			label(for='username')  Username:
			input#username.form-control(type='text', name='username', value=`${username}`)
		div.form-group
			label(for='password') Password:
			input#password.form-control(type='password', name='password')
		div
			button.btn.btn-primary.btn-block(type='submit') Login
	br
	ul
		.uldiv
			li.errortext= `${er}`

