extends index3

block content
	h1 ADMIN DASHBOARD
	br
	
	//- var admname = username;
	
	.welcometxt
		

	.fishcontain
		.fish
			.fishchild
				a(href='usercrud')
					img(src='Images/PageIMG/users.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='artistcrud')
					img(src='Images/PageIMG/artists.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='trackcrud')
					img(src='Images/PageIMG/tracks.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='logout')
					img(src='Images/PageIMG/logout.png' alt='Images/PageIMG/fail.png' height='250' width='250')
