extends index3

block content
	h1 ARTIST C.R.U.D
	form
		input(type='button', value='Go Back', onclick="self.location='https://riddim-archive.herokuapp.com/dashboard'")
	
	- var message = msg;
	- var message2 = msg2;

	h2 Add Artist
	.contactdiv
		.contact
			form(method='POST', action='/artistcreate', enctype='multipart/form-data')
				.label Artist Name:
				br
				div.form-group
					input#artist_name.form-control(type='text', name='artist_name')
				br

				.label Crew:
				br
				div.form-group
					input#crew.form-control(type='text', name='crew')
				br

				.label Country:
				br
				div.form-group 
					input#country.form-control(type='text', name='country')
				br

				.label Info (Short sentence or two about you and your style, Be creative!):
				br
				div.form-group
					textarea#info.form-control(type='text', name='info' rows='5')
				br
				div
					button.btn.btn-primary.btn-block(type='submit') Submit
	p  #{message}
	br
	br
	br

	h1 *-*-*-*-*-*-*

	h2 Delete Artist
	.contactdiv
		.contact
			form(method='POST' action='/artistdelete')
				.label Artist Name:
				div.form-group
					input#artist_name.form-control(type='text', name='artist_name')
				div
					button.btn.btn-primary.btn-block(type='submit') Submit
	p  #{message2}
