extends index3

block content
	- var message = msg;
	- var message2 = msg2;

	.labelgcenter #{message}
	.labelgcenter #{message2}

	.artisth1 
		h1 Add Artist
	.faqform
		form(method='POST', action='/artistcreate', enctype='multipart/form-data')
			.downloadbutton
				button.smallmidbutton(type='submit') Submit
			br
			.downloadbutton
				.labelmid2 Artist Name:
			.downloadbutton
				input#artist_name.frmtextfield(type='text', name='artist_name')
			br
			.downloadbutton
				.labelmid2 Crew:
			.downloadbutton
				input#crew.frmtextfield(type='text', name='crew')
			br
			.downloadbutton
				.labelmid2 Country:
			.downloadbutton
				input#country.frmtextfield(type='text', name='country')
			br
			.downloadbutton
				.labelmid2 Info (Short sentence or two about you and your style, Be creative!)::
			.downloadbutton
				input#info.frmtextfield(type='text', name='info' rows='5')
			br
			.downloadbutton
				.labelmid2 Facebook:
			.downloadbutton
				input#face.frmtextfield(type='text', name='face', value="")
			br
			.downloadbutton
				.labelmid2 Soundcloud:
			.downloadbutton
				input#sound.frmtextfield(type='text', name='sound', value="")
			br
			.downloadbutton
				.labelmid2 Bandcamp:
			.downloadbutton
				input#band.frmtextfield(type='text', name='band', value="")
			br
			.downloadbutton
				.labelmid2 Beatport:
			.downloadbutton
				input#beat.frmtextfield(type='text', name='beat', value="")
			br
			.downloadbutton
				.labelmid2 Instagram:
			.downloadbutton
				input#insta.frmtextfield(type='text', name='insta', value="")
			br
			.downloadbutton
				button.smallmidbutton(type='submit') Submit
	br
	br
	br
	br
	.artisth1 
		h1 Delete Artist
	.faqform
		form(method='POST' action='/artistdelete')
			.downloadbutton
				.labelmid2 Artist Name:
			.downloadbutton
				input#artist_name.form-control(type='text', name='artist_name')
			br
			.downloadbutton
				button.smallmidbutton(type='submit') Submit
