extends index2

block content
	h1 #{artist_name}
	br
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br

	- var x = tracks;
	.ulcontain
		each track in x
			ul
				.uldiv
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­ ${track.track_name}`
					audio(src=track.drive_url, type='audio/mpeg', controls='')
						code audio
					li.tunetext= `       `
					a(href=track.drive_url)  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­    ­   ­  ­   ­   ­   ­   ­   ­  Download Tune
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
					a(href="")  
	p TEST thing let's see if this works.
			