extends index

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	
	.faqform
		form#fileuploadform(method='POST' action='/fulldownload/AD')
			.downloadbutton
				.labelmidnowidth Artist Name:
			input#artist_name(type='text', name='artist_name', style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 93.5%;")
			br
			.downloadbutton
				button.smallmidbutton(type='submit') Artist Complete Download

	.downloadbutton
		#labelgcenter2black
						
	script.
		$(document).on("keydown", "form", function(event) { 
			return event.key != "Enter";
		});

		$(document).bind("keydown keypress", function(e){
			if( e.which == 8 ){ // 8 == backspace
				if(e.target.readOnly ){
					e.preventDefault();
				}
			}
		});

		$(document).ready(function() {
			console.log("Doc ready");
			uploadInit();
		});

		function uploadInit(){
			//- var theform = $('#fileuploadform');
			//- var thebutton = $('#thesubmit');
			//- thebutton.click(function (ev) {
			//- 	console.log("clicked button");
			//- 	ev.preventDefault();
			//- 	var fd = new FormData();

			//- 	var artist_name = document.getElementById("art_name").value;
			//- 	fd.append('artist_name', artist_name);
			//- 	$.ajax({
			//- 		url:'/batchtest',
			//- 		type: 'POST',
			//- 		data: fd,
			//- 		processData: false,
			//- 		contentType: false,
			//- 		success: function(data){
			//- 			var msg2 = document.getElementById("labelgcenter2black");
			//- 			msg2.innerHTML = data.msg;
			//- 			//console.log(data.zip);
			//- 		},
			//- 		error: function(){
			//- 			console.log("Didn't Work");
			//- 		}
			//- 	});//end ajax		
			//- });
		}