extends index3

block content
	h1 Create Account
	- var message = msg;
	.labelg #{message}

	.contactdiv
        .contact
            form(method='POST' action='/create')
                .label Username:
                br
                div.form-group
                    input#username.form-control(type='text', name='username')
                br
                .label Password:
                br
                div.form-group
                    input#password.form-control(type='password', name='password')
                br
                .label Reenter Password:
                br
                div.form-group
                    input#password2.form-control(type='password', name='password2')
                br
                div
                    button.btn.btn-primary.btn-block(type='submit') Login