extends index3

block content
	.artisth1 
		h1 Create Account - *No Email or Personal Info Required*
	- var message = msg;
	.labelgcenter #{message}

	.createacctform
		form(method='POST' action='/create')
			.label Username:
			br
			div.form-group
				input#username.form-control(type='text', name='username')
			br
			.label Password:
			br
			div.form-group
				input#password.form-control(type='password', name='password')
			br
			.label Re-Enter Password:
			br
			div.form-group
				input#password2.form-control(type='password', name='password2')
			br
			div
				button.btn.btn-primary.btn-block(type='submit') Create Account