extends index

block content
    .header
      h1 RIDDIM ARCHIVE FAQ
    .intro
      p NOTE: This site is a WORK IN PROGRESS, There are no links.

      br
      button(onclick='goBack()') Go Back
      script.
        function goBack() {
        window.history.back();
        }
      br


      br
      br
      br
      b What is this site?
      br
      p This site is designed to preserve the amazing Riddim sub-genre of Dubstep. I seek to create a one-stop place where anyone can easily have access to all the amazing tunes and artists that this genre has to offer. I seek to allow people to re-discover amazing artists which no longer produce, but have made a lasting impact on the Riddim landscape. If you are new to riddim and want to get in touch with the classics, this site is for you!
      br
      b I can't find this specific artist/song, what gives?
      br
      p Alas, I am only one lonely nerd coding this site, my collection is only limited to that which I was able to collect during my time in scene. (I got into the riddim scene in 2011, later than I would have liked, so there's still plenty I'm missing unfortunetly...) BUT YOU CAN HELP WITH THIS!!!! I want to expand the library here, so if there's an artist or song I am missing here, Feel free to send it along here.

      a(href='tunesubmit') Tune Submission
      
      (DON'T send me plates or paid tunes please, especially if you didn't produce them. They will not be displayed here.)
      br
      b I Can't Download the File I want. (Google Drive Error)
      br
      p My Apologies, Google Drive has a limit on downloads sometimes. Let me know what you were trying to get at this link and I'll put it back up ASAP
      br
      b I DON'T want my Artist Page/Song on your page.
      br
      p My Sincerest Apologies. With this site I aim to share released works and celebrate awesome riddim talent, But I totally understand if you don't want to be included. Click This Link to give me the details, and I'll remove what you have requested ASAP.
      br
      b I WANT to include my page/music here so others can find me.
      br
      p I'm down as fuck, send me tunes/some bio info here and I'll start building your page
      br
      b I wanna support this site in some other way!
      br
      p Much love, sharing this site with anyone new or old to the genre is much appreciated! If you are better than me at Webdesign/Coding (which is not saying much believe me fam), and want to help out, Hit me up hereeee! Lastly, if you'd like to donate to help recoop the site costs, you can here. In NO way is this required. To be honest, site costs are really low so far, so I'm not trippin. I made this site for the love of RIDDIMMMM (and to get webdesign practice lol).
      br
      b I have another random question, how can I contact you?
      br
      p Right Here, Bruv