extends index2

block content
      .header
            h1 RIDDIM ARCHIVE FAQ
      br
      .question What is this site?
      .faqtext
            .ftxt RIDDIM! That wonky, bubbly, liquidy, bonkers form of Dubstep that all the cool kids love. As genres evolve and relabel themselves, It&apos;s important to remember the classic tunes and the pioneers that made it all happen! That&apos;s why I made this site, to save, archive and share the classics with all fans of Riddim. Newcomers Welcome, grab some FIRE oldies if you&apos;ve never heard them before. No Plates. We only post free tunes, or released tunes with Artist/Label Permission. Any artists who don&apos;t want to be here, any tunes you want removed, Let me know and I will do so ASAP. I don&apos;t seek to be disrespectful, only to share classic and old works for those who love them. Thanks Bruv 
      br
      .question I WANT to include my page/music here so others can find me.
      .faqtext
            .ftxt I'm down as fuck, send me tunes/some bio info here and I'll build your page.
      .faqcontact
            form
                  input(type='button', value='Artist Self-Submission', onclick="self.location='https://riddim-archive.herokuapp.com/req/submission'")
      br
      .question I DON'T want my Artist Page/Song on your page.
      .faqtext
            .ftxt My Sincere Apologies. With this site I aim to share released works and celebrate awesome riddim talent, But I understand if you don't want to be included. Click the Link below to give me the details on what you want removed. I'll take care of it ASAP.
      .faqcontact
            form
                  input(type='button', value='Artist/Song Removal', onclick="self.location='https://riddim-archive.herokuapp.com/req/removal'")
      br
      .question I Can't Download/Stream the File I want.
      .faqtext
            .ftxt Let me know what you were trying to get/play at the link below and I'll put it back up.
      .faqcontact
            form
                  input(type='button', value='Tune Not Available', onclick="self.location='https://riddim-archive.herokuapp.com/req/tunereport'")
      br
      .question I can't find this specific Artist/Song, what gives?
      .faqtext
            .ftxt Alas, I am only one lonely nerd coding this site, my collection is limited to that which I was able to collect during my time in scene. BUT YOU CAN HELP WITH THIS!!!! I want to expand the library here, so if there's an artist or song I am missing here, Feel free to send it along here. (DON'T send me plates or paid tunes please, especially if you didn't produce them. They will not be displayed here.)
      .faqcontact      
            form
                  input(type='button', value='Tune Submission', onclick="self.location='https://riddim-archive.herokuapp.com/req/tracksubmission'")
      br
      .question I wanna support this site in some other way!
      .faqtext
            .ftxt Much love, sharing this site with anyone new or old to the genre is much appreciated! If you'd like to donate to help recoop the site costs, you can here. In NO way is this required. To be honest, site costs are really low so far, so I'm not trippin. I made this site for the love of RIDDIMMMM (and to get webdesign practice lol).
            br
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                  input(type='hidden', name='cmd', value='_donations')
                  input(type='hidden', name='business', value='4RCMFJAVJJCL4')
                  input(type='hidden', name='currency_code', value='USD')
                  input(type='image', src='../Images/PageIMG/donate.png', border='0', name='submit', alt='Donate with PayPal button')
                  img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')

      br
      .question I have another random question, how can I contact you?
      .faqcontact
            form
                  input(type='button', value='Right Here, Bruv', onclick="self.location='https://riddim-archive.herokuapp.com/req/question'")