extends index

block content
  .intro
  .introchild1
    | RIDDIM! That wonky, bubbly, liquidy, bonkers form of Dubstep that all the cool kids love.
    br
  .introchild2
    | As genres evolve and relabel themselves, It&apos;s important to remember the classic tunes and the pioneers that made it all happen!
    | That&apos;s why I made this site, to save, archive and share the classics with all fans of Riddim.
    | Newcomers Welcome, grab some FIRE oldies if you&apos;ve never heard them before.
    br
  .introchild3
    | No Plates. We only post free tunes, or released tunes with Artist/Label Permission.
    | Any artists who don&apos;t want to be here, any tunes you want removed, Let me know and I will do so ASAP. 
    | I don&apos;t seek to be disrespectful, only to share classic and old works for those who love them.
    | Any questions or contact info will be on the 
    a(href='faq') FAQ Page
    | . Thanks Bruv
    br
  .space
    br
  - var message = msg;
  .searchform
    form(method='POST' action='/search')
      div.form-group
        label(for='search_results')       Search
        input#search_results.form-control(type='text', name='search_results' placeholder="Search for Artist/Crew...")
      div.form-group
        label(for='search_style') Artist
        input#search_style.form-control(type='radio', name='search_style', checked="checked", value=0)
        label(for='search_style') Crew
        input#search_style.form-control(type='radio', name='search_style', value=1)
      div
        button.btn.btn-primary.btn-block(type='submit') Submit
      div
        p #{message}
      div
        form
          input(type='button', value='Reload back to All Artists', onclick="self.location='https://riddim-archive.herokuapp.com/'")
  br
  .fishchild
    h1 Artists Not FOUND
