doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='https://bootswatch.com/4/slate/bootstrap.min.css')
  title Riddim Archive
  link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
.header
  a.btn.btn-link(href='home')
    img(src='Images/Logos/Logosmall.png' alt='Images/PageIMG/fail.png' height='263' width='225')

body
  block content
  br
  hr
  footer 
    p Site is Copyright: Justin Romprey aka Ernie Shmitz!
    a(href='admin') Admin Login
