doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='Styles/sheet.css')
  title Riddim Archive
  link(rel='shortcut icon' href='../favicon.ico')
.header
  img(src='Images/Logos/Logosmall.png' alt='Images/PageIMG/fail.png' height='263' width='225')

body
  block content
  br
  hr
  footer 
    p Site is Copyright: Justin Romprey aka Ernie Shmitz!
