doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='../Styles/sheet.css')
  link(rel='icon', href='/favicon.ico')
  title Riddim Archive

body
  ul.navbar
    li
      a(href='../login') Login/Dashboard
    li
      a(href='../create') Create Account
    li
      a(href='../faq') FAQ
    li
      a(href='../') Go Back
  .header
    a.btn.btn-link(href='../')
      img(src='../Images/Logos/NewLogoTest.png' alt='Images/PageIMG/fail.png' height='200' width='200')
  block content
  br
  hr
  footer 
    p Site is Copyright and Created by: Justin Romprey aka Ernie Shmitz!
    ul.navbar
      li
        a(href='../login') Login/Dashboard
      li
        a(href='../create') Create Account
      li
        a(href='../faq') FAQ
      li
        a(href='../') Go Back