doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='Styles/sheet.css')
  title Riddim Archive
  link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

body
  ul.navbar
    li
      a(href='login') Login
    li
      a(href='faq') FAQ
    li
      a(href='../') Go Back
  .header
    a.btn.btn-link(href='../')
      img(src='Images/Logos/Logosmall.png' alt='Images/PageIMG/fail.png' height='263' width='225')
  block content
  br
  hr
  footer 
    p Site is Copyright: Justin Romprey aka Ernie Shmitz!
    ul.navbar
      li
        a(href='login') Login
      li
        a(href='faq') FAQ
      li
        a(href='../') Go Back
