extends index3

block content
	.artisth1 
		h1 Login
	- var msg = message;
	.labelgcenter #{msg}

	.loginform
		form(method='POST' action='/login')
			.label Username:
			br
			div.form-group
				input#username.form-control(type='text', name='username', value=`${theusername}`)
			br

			.label Password: 
			br
			div.form-group
				input#password.form-control(type='password', name='password')
			br
			div
				button.btn.btn-primary.btn-block(type='submit') Login
	br

