extends index2

block content
	txt  
	.artisth1 
		h1 REMOVAL
	- var message = msg;
	.labelgcenter #{message}

	.faqform
		form(method='POST', action='/req/removal')
			.label Please let us know which tune/artist page you would like removed.
			.label It will be removed ASAP.
			br
			div.form-group  
				textarea#info.form-control(type='text' name='info' rows='5' style="width: 100%;")
			br
			.label Please add contact email so we can get back to you.
			div.form-group  
				input#contact.form-control(type='text' name='contact' style="width: 100%;")
			br

			div
				button.btn.btn-primary.btn-block(type='submit') Submit
	.labelgcenter #{message}