extends index2

block content
	txt  
	form
		input(type='button', value='Go Back', onclick="self.location='https://riddim-archive.herokuapp.com/faq'")
	h1 REMOVAL
	- var message = msg;
	.labelg #{message}

	.contactdiv
		.contact
			form(method='POST', action='/req/removal')
				.label Please let me know which tune/artist page you would like removed.
				br
				div.form-group  
					textarea#info.form-control(type='text', name='info' rows='5')
				br
				
				div
					button.btn.btn-primary.btn-block(type='submit') Submit