extends index2nobottom

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	.artisth1 
		h1 Enter Password To Access This Tune:
	- var message = msg;
	#labelgcenter #{message}

	.faqform
		form#passwordform(method='POST')
			.downloadbutton
				input#password.form-control(type='password', name='password')
				input#track_id(type='hidden', name='track_id', value=`${track_id}`)
	.downloadbutton
		.custombutton
			div(id='thesubmit', class='thesubmit')
				img(border='2', alt='back', src='../../Images/PageIMG/artsubmit.png', height='50', style="margin-top: 2.5em; height: 75px;")
	
	script.
		$(document).on("keydown", "form", function(event) { 
			return event.key != "Enter";
		});

		$(document).bind("keydown keypress", function(e){
			if( e.which == 8 ){ // 8 == backspace
				if(e.target.readOnly ){
					e.preventDefault();
				}
			}
		});

		$(document).ready(function() {
			console.log("Doc ready");
			buttonInit();
		});

		function buttonInit(){
			var theform = $('#passwordform');
			var thebutton = $('#thesubmit');
			thebutton.click(function (ev) {
				console.log("clicked button");
				ev.preventDefault();
				$.ajax({
					url:'/secretsubmit',
					type: 'POST',
					data: theform.serialize(),
					success: function(data){
						console.log("Didn't Crash!");
						console.log(data.password);
						console.log(data.track_id);
					},
					error: function(){
						console.log("Didn't Work");
					}
				});//ajax
			});
		}