extends index3

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var usename = theusername;
	- var artid = theid;
	- var theartname = theartname;
	- var message = msg;

	.artisth1
		h1#theh1 *WORK IN PROGRESS PAGE*
	.welcometxt
		h1 Welcome #{usename}! Here are your Secret Tunes, only you and people you trust can access them: