extends index3nobottom

block content
	.artisth1 
		h1 Select Account:
	
	.fishcontain
		#fish
			.fishchild
				a(href='create')
					img(src='Images/PageIMG/useracct.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='artselfcreate')
					img(src='Images/PageIMG/artistacct.png' alt='Images/PageIMG/fail.png' height='250' width='250')