extends index2

block content
	txt  
	.artisth1 
		h1 Artist Submission (Please only submit yourself!) 
	- var message = msg;
	.artisth1
		h2 Note: You can submit released tunes, or even old exclusives if you wish to do so. I will only be uploading these kinds of tunes with the artist's permission.
	.labelgcenter #{message}
	.contactdiv
		.contact
			form(id='searchy', method='POST')
				.label Artist Name:
				br
				div.form-group
					input#artist_name.form-control(type='text', name='artist_name')
				br

				.label Crew:
				br
				div.form-group 
					input#crew.form-control(type='text', name='crew')
				br

				.label Country:
				br
				div.form-group  
					input#country.form-control(type='text', name='country')
				br

				.label Info (Short sentence or two about you and your style, Be creative!):
				br
				div.form-group  
					textarea#info.form-control(type='text', name='info' rows='5')
				br

				.label Upload Artist Logo/Image (min size: 275px x 275px):
				br
				div.form-group
					input#img.form-control(type='file', name='img')
				br

				.label Please submit private download link to the tune(s) you would like to add:
				br
				div Recommended Upload Sites:
					txt  
					a(href='http://we.tl/') We Transfer
					txt  
					a(href='https://drive.google.com/') Google Drive
					txt  
					a(href='https://www.mediafire.com/') Mediafire
				br
				div.form-group
					input#link.form-control(type='text', name='link')
				br
				img(id='thesubmitbtn', class='buttonclass', border='2', alt='back', src='../Images/PageIMG/submit.png', height='200', width='325')

	script.
		$(document).ready(function() {
			console.log("Doc ready");
			AjaxInit();
		});

		$(document).ajaxComplete(function () {
			console.log("Ajax Complete");
		});

		function AjaxInit() {
			console.log("Ajax Init");
			var theform = $('#searchy');
			var thebutton = $('#thesubmitbtn');
			thebutton.click(function (ev) {
			ev.preventDefault();
			$.ajax({
			url: '/req/submission',
			type: 'POST',
			data: theform.serialize(),
			success: function(data){

				var themsg = data.msg;
				document.getElementById('labelgcenter').innerHTML = themsg;
			},
			error: function(){
			console.log("Didn't Work");
			var msg = "Something went Wrong, Please Refresh Page and try Again";
			document.getElementById('labelgcenter').innerHTML = themsg;
			
			}
			});//ajax
			});//submit
		}//ajaxinit