extends index2

block content
	h1 TUNE SUBMIT
	form
		input(type='button', value='Go Back', onclick="self.location='https://riddim-archive.herokuapp.com/faq'")
	
	- var message = msg;
	- var message2 = msg2;
	.labelg #{message}

	h2 Artist Submission (Please only submit yourself!) 
	p Note: You can submit released tunes, or even old exclusives if you wish to do so. I will only be uploading these kinds of tunes with the artist's permission.
	form(method='POST', action='/req/submission', enctype='multipart/form-data')
		.label Artist Name:
		div.form-group
			input#artist_name.form-control(type='text', name='artist_name')
		.label Crew:
		div.form-group
			label(for='crew') 
			input#crew.form-control(type='text', name='crew')
		.label Country:
		div.form-group
			label(for='country')  
			input#country.form-control(type='text', name='country')
		.label Info (Short sentence or two about you and your style, Be creative!):
		div.form-group
			label(for='info')  
			textarea#info.form-control(type='text', name='info' rows='5')
		.label Upload Page Image (please make this at least 275px x 275px - square image Preferred):
		div.form-group
			label(for='img')  
			input#img.form-control(type='file', name='img')
		.label Please submit private download link to the tune(s) you would like to add.
		div Recommended Upload Sites:
			txt
			a(href='http://we.tl/') We Transfer
			txt 
			a(href='https://drive.google.com/') Google Drive
			txt
			a(href='https://www.mediafire.com/') Mediafire
		.label Download Link
		div.form-group
			label(for='link') 
			input#link.form-control(type='text', name='link')
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
	br
	br
	.labelg #{message2}

	h2 Add Track (Non-Artist Submission)
	p Note: This is only to submit free tunes from artists that the library is missing. NO PLATES or Released tunes will be posted without Artist/Label Permission. I will verify.
	form(method='POST' action='/tracksubmission')
		div.form-group
			label(for='artist_name') Artist Name: 
			input#artist_name.form-control(type='text', name='artist_name')
		.label Please submit private download link to the tune(s) you would like to add.
		div Recommended Upload Sites:
			txt
			a(href='http://we.tl/') We Transfer
			txt 
			a(href='https://drive.google.com/') Google Drive
			txt
			a(href='https://www.mediafire.com/') Mediafire
		.label Download Link
		div.form-group
			label(for='link') 
			input#link.form-control(type='text', name='link')
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
	p  #{message}