extends index

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	txt  
	.artisth1 
		h1 S3 Test Upload
	#labelgcenter 

	.faqform
		form#fileuploadform(method='POST', enctype='multipart/form-data')
			.label Artist Name:
			br
			div.form-group
				input#art_name(type='text', name='art_name')
			br
			.label Track Name:
			br
			div.form-group
				input#tra_name(type='text', name='tra_name')
			br
			.label Upload File:
			br
			div.form-group
				input#thefile(type='file', name='thefile')
			.downloadbutton
				div(id='thesubmit', class='thesubmit')
					img(border='2', alt='back', src='Images/PageIMG/upload.png', height='50')
	
	#ulcontain
		.uldiv
			ul
				.regaudio
					audio(id='0/5/A3/420', src='https://riddim-archive-tune-store.s3-us-west-1.amazonaws.com/A/A3/420.mp3', type='audio/mpeg', controls='', preload='none')
						
	script.
		$(document).on("keydown", "form", function(event) { 
			return event.key != "Enter";
		});

		$(document).bind("keydown keypress", function(e){
			if( e.which == 8 ){ // 8 == backspace
				if(e.target.readOnly ){
					e.preventDefault();
				}
			}
		});

		$(document).ready(function() {
			console.log("Doc ready");
			uploadInit();
		});

		document.addEventListener('play', function(e){
			console.log("DO THINGS");
			//do things
			/*
			e.target.src = "";
			var theidstr = e.target.id;
			var splitty = theidstr.split("/");
			var index = splitty[0];
			var track_id = splitty[1];
			var artist_name = splitty[2];
			var track_name = splitty[3];

			$.ajax({
				url:'/tests3gettrack',
				type: 'POST',
				data: {
					index: index,
					track_id: track_id,
					artist_name: artist_name,
					track_name: track_name
				},
				success: function(data){
					var msg = document.getElementById("labelgcenter");
					msg.innerHTML = data.msg;
				},
				error: function(){
					console.log("Didn't Work");
				}
			});
			*/
		}, true);

		function uploadInit(){
			var theform = $('#fileuploadform');
			var thebutton = $('#thesubmit');
			thebutton.click(function (ev) {
				console.log("clicked button");
				ev.preventDefault();

				var fd = new FormData();
				var files = $('#thefile')[0].files[0];
				var artist_name = document.getElementById("art_name").value;
				var track_name = document.getElementById("tra_name").value;
				fd.append('file', files);
				fd.append('artist_name', artist_name);
				fd.append('track_name', track_name);
				 
				$.ajax({
					url:'/tests3upload',
					type: 'POST',
					data: fd,
					processData: false,
					contentType: false,
					success: function(data){
						var msg = document.getElementById("labelgcenter");
						msg.innerHTML = data.msg;
					},
					error: function(){
						console.log("Didn't Work");
					}
				});
			});
		}