extends index2

block content
	txt  
	.artisth1 
		h1 Add Tracks (Non-Artist Submission)
	- var message = msg;
	.artisth1
		h2 Note: This is only to submit free tunes from artists that the library is missing. NO PLATES or Released tunes will be posted without Artist/Label Permission. I will verify.
	.labelgcenter #{message}
	
	.faqform
		form(method='POST' action='/req/tracksubmission')
			.label Please submit private download link to the tune(s) you would like to add:
			br
			div Recommended Upload Sites:
				txt  
				a(href='http://we.tl/') We Transfer
				txt  
				a(href='https://drive.google.com/') Google Drive
				txt  
				a(href='https://www.mediafire.com/') Mediafire
			br
			div.form-group
				input#link.form-control(type='text', name='link')
			br

			div
				button.btn.btn-primary.btn-block(type='submit') Submit
	.labelgcenter #{message}