extends index3

block content
	h1 TRACK C.R.U.D
	
	- var message = msg;
	- var message2 = msg2;
	//- var message3 = msg3;

	.labelg #{message}
	.labelg #{message2}

	h2 Add Track
	.contactdiv
		.contact
			form(method='POST' action='/trackcreate')
				.label Track Name:
				br
				div.form-group
					input#track_name.form-control(type='text', name='track_name')
				br

				.label Artist Name:
				br
				div.form-group
					input#artist_name.form-control(type='text', name='artist_name')
				br

				.label Drive URL:
				div.form-group
					input#drive_url.form-control(type='text', name='drive_url')
				br

				.label Is Tune of the Week?:
				.label Yes
				div.form-group
					input#tune_of_week.form-control(type='radio', name='tune_of_week', value=1)
					br
				.label No
					input#tune_of_week.form-control(type='radio', name='tune_of_week', checked="checked", value=0)
				br

				.label Is Collab?:
				.label Yes
				div.form-group
					input#is_collab.form-control(type='radio', name='is_collab', value=1)
					br
				.label No
					input#is_collab.form-control(type='radio', name='is_collab', checked="checked", value=0)
				br

				.label Collab Artist 1:
				div.form-group
					input#collab1.form-control(type='text', name='collab1')
				br

				.label Collab Artist 2:
				div.form-group
					input#collab2.form-control(type='text', name='collab2')
				br

				.label Collab Artist 3:
				div.form-group
					input#collab3.form-control(type='text', name='collab3')
				br

				.label Collab Artist 4:
				div.form-group
					input#collab4.form-control(type='text', name='collab4')
				br

				.label Is Remix?:
				.label Yes
				div.form-group
					input#is_remix.form-control(type='radio', name='is_remix', value=1)
					br
				.label No
					input#is_remix.form-control(type='radio', name='is_remix', checked="checked", value=0)
				br

				.label Original Artist 1:
				div.form-group
					input#og1.form-control(type='text', name='og1')
				br

				.label Original Artist 2:
				div.form-group
					input#og2.form-control(type='text', name='og2')
				br

				div
					button.btn.btn-primary.btn-block(type='submit') Submit
	br
	br
	br
	br
		
	h2 Delete Track
	.contactdiv
		.contact
			form(method='POST' action='/trackdelete')
				.label Track Name:
				br
				div.form-group
					input#track_name.form-control(type='text', name='track_name')
				br
		
				div
					button.btn.btn-primary.btn-block(type='submit') Submit
	
