extends index3

block content
	h1 TRACK C.R.U.D
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
	}

	- var message = msg;
	- var message2 = msg2;
	//- var message3 = msg3;

	h2 Add Track
	form(method='POST' action='/trackcreate')
		div.form-group
			label(for='track_name') Track Name:
			input#track_name.form-control(type='text', name='track_name')
		div.form-group
			label(for='artist_name') Artist Name: 
			input#artist_name.form-control(type='text', name='artist_name')
		div.form-group
			label(for='drive_url') Drive URL: 
			input#drive_url.form-control(type='text', name='drive_url')
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
	p  #{message}
		
	h2 Delete Track
	form(method='POST' action='/trackdelete')
		div.form-group
			label(for='track_name') Enter Track You Would Like to Delete:
			input#track_name.form-control(type='text', name='track_name')
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
	p  #{message2}
	
