extends index2

block content
	txt  
	.artisth1 
		h1 TUNE REPORT
	- var message = msg;
	.labelgcenter #{message}

	.faqform
		form(method='POST', action='/req/tunereport')
			.label Please let us know which tune is broken/missing.
			br
			div.form-group  
				textarea#info.form-control(type='text' name='info' rows='5' style="width: 100%;")
			br

			div
				button.btn.btn-primary.btn-block(type='submit') Submit
	.labelgcenter #{message}