extends index3

block content
	h1 USER DASHBOARD
	br
	
	- var theusername = username;
	
	.welcometxt
		h1 Welcome #{theusername}!
	
	.fishcontain
		.fish
			.fishchild
				a(href='../')
					img(src='Images/PageIMG/browsearchive.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='favorites')
					img(src='Images/PageIMG/favorites.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='changepass')
					img(src='Images/PageIMG/changepass.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='logout')
					img(src='Images/PageIMG/logout.png' alt='Images/PageIMG/fail.png' height='250' width='250')
