extends index3

block content
	h1 USER DASHBOARD
	br
	
	- var theusername = username;
	- var theid = id;
	- var theaccess_level = access_level;

	
	.welcometxt
		h1 Welcome #{theusername}!
		
	.fishcontain
		.fish
			.fishchild
				a(href='logout')
					img(src='Images/PageIMG/logout.png' alt='Images/PageIMG/fail.png' height='250' width='250')
