extends index3

block content
	h1 USER C.R.U.D
	
	- var message = msg;
	- var message2 = msg2;
	.labelg #{message}
	.labelg #{message2}

	h2 Add User
	.contactdiv
		.contact
			form(method='POST' action='/usercreate')
				.label Username:
				br
				div.form-group
					input#username.form-control(type='text', name='username')
				br

				.label Password:
				br
				div.form-group 
					input#password.form-control(type='password', name='password')
				br

				.label User Access Level:
				.label Admin
				div.form-group
					input#access_level.form-control(type='radio', name='access_level', value=3)
					br
					.label Mod
					input#access_level.form-control(type='radio', name='access_level', value=2)
					br
					.label
					input#access_level.form-control(type='radio', name='access_level', value=1)
				div
					button.btn.btn-primary.btn-block(type='submit') Submit
	
	h2 Delete User
	form(method='POST' action='/userdelete')
		div.form-group
			label(for='username')  Username:
			input#username.form-control(type='text', name='username')
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
