extends index3

block content
	h1 TRACK C.R.U.D
	br
	form
		input(type='button', value='Go Back', onclick="self.location='https://riddim-archive.herokuapp.com'")
	br
	br
	
	- var message = msg;
	- var message2 = msg2;

	h2 Add User
	form(method='POST' action='/usercreate')
		div.form-group
			label(for='username')  Username:
			input#username.form-control(type='text', name='username', value=`${username}`)
		div.form-group
			label(for='password') Password: 
			input#password.form-control(type='password', name='password')
		p User Access Level:
		div.form-group
			label(for='access_level') Admin
			input#access_level.form-control(type='radio', name='access_level', value=3)
			br
			label(for='access_level') Mod
			input#access_level.form-control(type='radio', name='access_level', value=2)
			br
			label(for='access_level') Standard
			input#access_level.form-control(type='radio', name='access_level', value=1)
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
	br
	p  #{message}
	br
	br
	
	h2 Delete User
	form(method='POST' action='/userdelete')
		div.form-group
			label(for='username')  Username:
			input#username.form-control(type='text', name='username')
		div
			button.btn.btn-primary.btn-block(type='submit') Submit
	br
	p  #{message2}
