extends index3

block content
	- var message = msg;
	- var message2 = msg2;
	.labelgcenter #{message}
	.labelgcenter #{message2}

	.artisth1 
		h1 Add User
	.faqform
		form(method='POST' action='/usercreate')
			.downloadbutton
				.labelmid2 Username:
			.downloadbutton
				input#username.frmtextfield(type='text', name='username')
			br
			.downloadbutton
				.labelmid2 Password:
			.downloadbutton
				input#password.frmtextfield(type='password', name='password')
			br
			.downloadbutton
				.labelmid2 User Access Level:
			br
			.downloadbutton
				.radiolabel Admin
				input#access_level(type='radio', name='access_level', value=3)
			br
			.downloadbutton
				.radiolabel Mod
				input#access_level(type='radio', name='access_level', value=2)
			br
			.downloadbutton
				.radiolabel Standard
				input#access_level(type='radio', name='access_level', checked="checked", value=1)
			br
			.downloadbutton
				button.smallmidbutton(type='submit') Submit
	br
	br
	.artisth1 
		h1 Delete User
	.faqform
		form(method='POST' action='/userdelete')
			.downloadbutton
				.labelmid2 Username:
			.downloadbutton
				input#username.form-control(type='text', name='username')
			br
			.downloadbutton
				button.smallmidbutton(type='submit') Submit
