@media only screen and (max-width: 1300px) {
    .navbar{
        height: 7.8em;
    }

    #modalspacer{
        margin-top: 60px;
    }
  
    #toplicontain{
        margin-top: 5.2em;
        margin-right: 20em;
    }

    .navbarbottom{
        height: 7.8em;
    }
  
    #bottomlicontain{
        margin-top: 5.2em;
        margin-right: 20em;
    }
  
    .navbar a{
        padding-top: 3px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 14px;
        line-height: 23px;
    }

    .navbarbottom a{
        padding-top: 3px;
        padding-bottom: 0px;
        padding-left: 14px;
        padding-right: 14px;
        line-height: 23px;
    }

    #topspacer{
        margin-top: 140px;
    }

    .ulcontain{
        display: block;
        padding-left: 10em;
        padding-right: 10em;
    }
      
    #ulcontain{
        display: block;
        padding-left: 10em;
        padding-right: 10em;
    }

    #ulcontain2{
        display: block;
        padding-left: 10em;
        padding-right: 10em;
    }

    audio{
        position: relative;
        width: 100%;
        margin: 1em 0 2em 0;
    }

    @supports (-webkit-touch-callout: none) {
        audio{
            position: relative;
            width: 100%;
            margin: 1em 0 2em 0;
        }

        #iosspacer{
            margin-top: 3em;
        }

        .ulcontain{
            padding-left: 1em;
            padding-right: 1em;
        }
          
        #ulcontain{
            display: block;
            padding-left: 1em;
            padding-right: 1em;
        }
    
        #ulcontain2{
            display: block;
            padding-left: 1em;
            padding-right: 1em;
        }

    }
  
}

@media only screen and (max-width: 945px) {
    #toplicontain{
        margin-right: 15em;
    }
    #bottomlicontain{
        margin-right: 15em;
    }

}

@media only screen and (max-width: 850px) {
    #toplicontain{
        margin-right: 8em;
    }
    #bottomlicontain{
        margin-right: 8em;
    }

    .ulcontain{
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }
      
    #ulcontain{
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }

    #ulcontain2{
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }

}

@media only screen and (max-width: 760px) {
    #toplicontain{
        flex-wrap: wrap;
        margin-right: 4em;
    }
    #bottomlicontain{
        margin-right: 4em;
    }

    .navbar{
        height: 9em;
    }

    #modalspacer{
        margin-top: 75px;
    }

  
}

@media only screen and (max-width: 553px) {
    #toplicontain{
        flex-wrap: wrap;
        margin-right: 4em;
    }
    
    #bottomlicontain{
        flex-wrap: wrap;
        margin-right: 2em;
    }

    .navbarbottom{
        height: 9em;
    }

  
}