body {
  font-family: 'Roboto';
  font-style: normal;
  color: black;
  background-color: cornflowerblue;
}

.intro{
  
}

.shufflecontain p{
  display: flex;
  justify-content: center;
  padding-left: 95px;
  font-style: bold;
}


.question{
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.label{
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.label2{
  font-weight: bold;
  font-size: x-large;
  margin-top: 0.4em;
  padding: 0;
}

.label3{
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  padding: 0;
  width: 12em;
}

.label3nowidth{
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.labelmid{
  font-weight: bold;
  font-size: x-large;
  margin-left: 0.75em;
  padding: 0;
  width: 8em;
}

.labelmid2{
  font-weight: bold;
  font-size: x-large;
  margin-left: 0.75em;
  margin-top: 0.75em;
  padding: 0;
}

.labelflex{
  font-weight: bold;
  font-size: x-large;
  display: flex;
  width: 5em;
  height: 2em;
  margin-left: 3em;
}

.labelg{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
}

.labelgcenter{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

#labelgcenter{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

#labelgcenter2{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

#labelgcenter2black{
  font-weight: bold;
  font-size: x-large;
  color: black;
  display: flex;
  justify-content: center;
}
#labelgcenter2contents{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  text-decoration: underline;
  display: contents;
  justify-content: center;
}

#labelgcenter3{
  font-weight: bold;
  font-size: xx-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

.header{
	display: flex;
	justify-content: center;
  height: 100%;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#fish{
	display: flex;
	flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#fish2{
	display: flex;
	flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.searchform input[type=text], select {
  width: 100%;
  padding: 20px 35px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.searchformart{
  border: black solid 3px;
}

.addcolbtn{
  margin-left: 1em;
}

.addrembtn{
  margin-left: 1em;
}

.searchformart input[type=text], select {
  width: 100%;
  padding: 20px 35px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cmtformart{
  border: black solid 3px;
  padding-left: 10em;
  padding-right: 10em;
}

.cmtformart input[type=text], select {
  width: 75%;
  padding: 20px 35px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#linksformart input[type=text], select {
  width: 100%;
  padding: 20px 35px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#searchy{
  padding: 20px;
}

#searchy2{
  padding: 0px;
}

#searchy3{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fishchild img{
	border: solid;
  border-width: 3px;
  border-color: #000;
  border-radius: 8px;
  justify-content: center;
  flex-grow: 1;
}

.fishchild form input{
	border: solid;
  border-width: 3px;
  border-color: #000;
  border-radius: 8px;
  justify-content: center;
  flex-grow: 1;
}

a{
  text-decoration: none;
}

.fishchild img:hover{
  z-index: 1;
}

.fishchild form input:hover{
  z-index: 1;
}

.imgwrap:hover .imgdescription {
  visibility: visible;
  opacity: 1;
}

.imgwrap{
  display: flex;
  justify-content: center;
}

.imgdescription {
  font-weight: bold;
  margin: 0;
  background: rgba(29, 106, 154, 0.92);
  border: solid greenyellow 3px;
  border-radius: 1em;
  color: white;
  font-size: x-large;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  z-index: 20;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  margin-top: 3em;
  width: 150px;
}


.searchform{
  border: black;
  border-width: 1px;
}

#linksformart{
  border: black solid 3px;
}

.linksformclear{
  display: none;
}

.middlecontain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.middlecontain2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.middlecontain3{
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.searchcontain{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: black solid 3px;
}

.searchcontain2{
  padding-left: 20px;
  padding-right: 20px;
  border: black solid 3px;
  margin-left: 1em;
  margin-right: 1em;
}

.searchcontainart{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.cmtcontainart{
  background-color: deepskyblue;
}

.newcomment{
  background-color: greenyellow;
}

#linkscontainart{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#linkscontainclear{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: none;
}

.shufflecontain{
  padding-left: 20px;
  padding-right: 20px;
  border: black solid 3px;
}

.notfoundtext{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boldtext{
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 7px;
}

.bigboldtext{
  font-size: xx-large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 7px;
}

.bigboldtext2{
  font-size: xx-large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 15px;
}

#tuneslink{
  font-size: x-large;
  font-weight: bold;
}

.ulcontain{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

#ulcontain{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

#ulcontainshare{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.sharelink{
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 150px;
  height: 1px;
  font-size: 300px;
  opacity: 0;
  z-index: 1;
  -webkit-touch-callout:none;
}

.sharebutton{
  margin-left: 0.3em;
}

.sharebutton:hover{
  opacity: 0.3;
  z-index: 1;
  border: 2px visible black;
}

#ulcontain2{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

.artistpage{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.artisth1{
  display: flex;
  justify-content: center;
  margin-left: 5em;
  margin-right: 5em;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pageclass{
  margin-top: 0.7em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.7em;
}

#theh1{
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

#theh3{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.artistinfo{
  display: flex;
  justify-content: center;
  font-size: large;
  padding-left: 50px;
  padding-right: 50px;
}

ul{
list-style-type: none;
padding-left: 0.2em;
}

.welcometxt{
  display: flex;
  justify-content: center;
}

.imgtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 1;
  position: relative;
}

.space{
  margin-bottom: 17px;
}

.space2{
  margin-bottom: 20px;
  margin-right: 150px;
}

#fish div{
  padding-left: 0.75em;
  padding-bottom: 0.50em;
}

#fish2 div{
  padding-left: 0.75em;
  padding-bottom: 0.50em;
}

li.tunetext{
  font-size: xx-large;
  text-align: center;
  width: 330px;
}

li#tunetext{
  font-size: xx-large;
  text-align: center;
  width: 330px;
}

li#tunetextnowidth{
  font-size: -webkit-xxx-large;
  text-align: center;
}

audio{
  width: 300px;
  height: 54px;
}

li.tunetextshare{
  font-size: -webkit-xxx-large;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.2em;
}

li.tunetextsmaller{
  font-size: x-large;
  text-align: center;
  word-wrap: normal;
  width: 330px;
}

#commentnextindex{
  display: none;
}

#inpagecommentposted{
  display: none;
}

.contactdiv{
  align-items: center;
  align-self: center;
}

.contact form{
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:75%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  font-size: 24px;
}
.button{
  font-size: 24px;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.faqform{
  display: flex;
  justify-content: center;
  /* padding-left: 7em; */
  flex-wrap: wrap;
}

.faqform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 5em;
}


.faqform form input, .faqform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 1em;
}

.faqform form .label{
  width: 800px;
}

.faqform form .radiolabel{
  font-weight: bold;
  font-size: x-large;
  padding: 0;
}

.faqform form .frmtextfield{
  padding-right: 1em;
  width: 80%
}

.faqform form .smallmidbutton{
  margin: 0;
}

.loginform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loginform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 5.4em;
}


.loginform form input, .loginform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.loginform form .label{
  width: 800px;
}

.changepassform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0.5em;
}

.changepassform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 1.9em;
}


.changepassform form input, .changepassform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.changepassform form .label{
  width: 800px;
}

.createacctform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.createacctform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 2.2em;
}


.createacctform form input, .createacctform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.createacctform form .label{
  width: 800px;
}


#paypal img{
  margin-top: 30px;
}

.faqtext{
    display: flex;
    justify-content: center;
    justify-self: center;
}
 
.ftxt{
    display: flex;
    justify-content: center;
    width: 750px;
    margin: 0.7em;
    font-size: x-large;
}

.faqmainbtn form{
    display: flex;
    justify-content: center;
    justify-self: center;
}

.faqmainbtn form input{
    background: #c9e6ff;
    text-transform: uppercase;
    padding: 1em;
    font-size: 36px;
    margin-bottom: 0.3em;
    border: solid 5px black;
}

p{
  padding-right: 100px;
}

#tunesoftheweek{
  display: none;
  border: black solid 5px;
}

li.tunetexttotw{
  font-size: large;
  text-align: center;
  width: 330px;
}

li.tunetexttotwsmaller{
  font-size: large;
  text-align: center;
  word-wrap: normal;
  width: 330px;
}

.ulcontaintotw{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

.totw audio{
  width: 250px;
  height: 39px;
}

.totw{
  display: flex;
  justify-content: center;
}

.regaudio{
    display: flex;
    justify-content: center;
}

.regaudioshare{
  display: flex;
  justify-content: center;
}

#shareaudio{
  width: 85%;
  margin-bottom: 0.2em;
}

#sharepagetitle{
  display: none;
}

.downloadbutton{
  display: flex;
  justify-content: center;
}

.downloadbuttonhidden{
  display: none;
  justify-content: center;
}

.downloadbutton:hover .child{
  opacity: 0.3;
  z-index: 1;
  border: 2px visible black;
}

.pagedownloadbutton{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.downloadbuttonwithbold{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

.downloadbuttonwithbold:hover .child{
  opacity: 0.3;
  border: 2px visible black;
}

.links{
  display: flex;
  justify-content: center;
  width: 330px;
  flex-wrap: wrap;
}

#test{
  display: flex;
  justify-content: center;
}

#shuftext{
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  text-decoration: underline;
}

#shufaudio{
  display: flex;
  justify-content: center;
  z-index: 1;
}

#shuffleforward img:hover{
  z-index: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  padding-top: 75px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh;
  overflow-y: hidden;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: lightskyblue;
  margin: auto;
  padding: 20px;
  border: 3px solid #888;
  width: 80%;
  height: 80%;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: solid greenyellow 3px;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: solid greenyellow 3px;
}

#allcomments{
  justify-content: space-around;
  flex-wrap: wrap;
}

.fullcomment{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  justify-content: center;
  border: black solid 3px;
}

.comuser{
  font-size: 24px;
  margin-right: 1.1em;
  font-weight: bold;
  margin-top: 0.65em;
}

.comcom{
  font-size: 27px;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 1.1em;
  margin-top: 0.55em;
}

.comtime{
  font-size: 24px;
  font-weight: bold;
  margin-right: 1.1em;
  margin-top: 0.65em;
}

.comuserid{
  display: none;
}

.cmtremovebutton{
  margin-top: 0.45em;
  display: none;
}

.cmtremovebutton img:hover{
  border: solid red 3px;
}

#allsecrets{
  justify-content: space-around;
  flex-wrap: wrap;
}

.fullsecret{
  border: black solid 3px;
}

.scrttrackname{
  font-size: 24px;
  margin-right: 1.1em;
  font-weight: bold;
  margin-top: 0.65em;
}

.scrtchangepassbutton{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.scrtchangepassbutton img:hover{
  border: solid red 3px;
}

.scrtgenlinkbutton{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.scrtgenlinkbutton img:hover{
  border: solid red 3px;
}

#change_pass{
  display: block;
  padding: 1em;
  margin-bottom: 1em;
}

#exp_time{
  display: block;
  padding: 1em;
  margin-bottom: 1em;
}









.heartbutton{
  margin-left: 0.7em;
}

.heartbutton:hover{
  opacity: 0.3;
  z-index: 1;
  border: 2px visible black;
}

.commentbutton{
  margin-left: 0em;
}

.commentbutton:hover{
  z-index: 1;
  border-color: greenyellow;
}

.custombutton img:hover{
  border-color: greenyellow;
  z-index: 1;
}

.numheart{
  margin-top: 1.1em;
  font-weight: bold;
}

.uldiv{
  border: black solid 3px;
  border-radius: 25px;
  background-color: dodgerblue;
  padding-right: 0.2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: 0.5em;
}



#navbarhomebtn{
  top: 0;
  left: 0;
  height: 60px;
  width: 270px;
  position: fixed;
  z-index: 1002;
}

#navbarhomebtnbottom{
  bottom: 0;
  left: 0;
  height: 55px;
  width: 270px;
  margin-bottom: 0.0em;
  z-index: 1002;
}

.navbar{
  background-image: url("../Images/PageIMG/navbarwithlogo.png");
  background-repeat: no-repeat;
  background-color: #55d9d1;
  overflow:hidden;
  height: 3.76em;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.navbar a{
  float:left;
  display:block;
  color: #0C0E36;
  z-index: 1000;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size: 25px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color: white;
  color:#000;
}

.navbarbottom{
  background-image: url("../Images/PageIMG/navbarwithlogo.png");
  background-repeat: no-repeat;
  background-color: #55d9d1;
  overflow:hidden;
  height: 60px;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  width: 100%;
}

.navbarbottom a{
  float:left;
  display:block;
  color: #0C0E36;
  z-index: 1000;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size: 25px;
}

.navbarbottom ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbarbottom a:hover{
  border-width: 1px;
  border: solid;
  border-color: greenyellow;
}

#logouttext{
  display: none;
}

#logouttext2{
  display: none;
}

#toplogo{
  margin-top: 55px;
  margin-bottom: 10px;
}

#toplicontain{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0.5em;
  margin-left: 0em;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.8em;
}

#bottomlicontain{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0.6em;
  margin-left: 0em;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.8em;
}

#topuserrect{
  position: fixed;
  width: 248px;
  height: 3.76em;
  top: 0;
  margin-left: 17em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  z-index: 1000;
}

#topusertext{
  display: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  margin-left: 2.5em;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  z-index: 1002;
  color: rgba(255, 255, 255);
  margin-top: 1.6em;
}

#bottomuserrect{
  display: none;
  position: relative;
  width: 248px;
  height: 60px;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1000;
  background: #0C0E36;
}

#bottomusertext{
  display: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  margin-left: 2.5em;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  z-index: 1002;
  color: rgba(255, 255, 255);
  margin-top: 1.6em;
}

#topspacer{
  margin-top: 70px;
}

#modalspacer{
  margin-top: 0px;
}

#iosspacer{
  margin-top: 0em;
}

#iosspaceralwayson{
  margin-top: 3em;
}

#spacerli{
  margin-right: 0em;
  margin-bottom: 0em;
  display: none;
}

#uppagelink{
  display: none;
}

#secrettuneslink{
  display: none;
}

#dashartid{
  display: none;
}

#dashartname{
  display: none;
}

#currentcollabvalue{
  display: none;
}

#currentremixvalue{
  display: none;
}

#currentsecretvalue{
  display: none;
}

.labelflexdiv{
  border: black solid 2px;
  margin-bottom: 0.75em;
}

#collabfields{
  display: none;
}


#collabfield1{
}

#collabfield2{
  display: none;
}

#collabfield3{
  display: none;
}

#collabfield4{
  display: none;
}

#remixfields{
  display: none;
}

#remixfield1{
}

#remixfield2{
  display: none;
}

#secretfields{
  display: none;
}

.slider{
  height: 50px;
}

.txtsplit{
  display: contents;
}

.letter{
  display: initial;
}

.redtext{
  display: contents;
  color: red;
}

#userartistname{
  display: hidden;
}

#theartistname{
  display: hidden;
}



input[type=range] {
  width: 20em;
  background-color: transparent;
  -webkit-appearance: none;
  margin-top: 10.1px;
  margin-bottom: 10.1px;
  margin-left: 3em;
  margin-right: 3em;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #d41bbc;
  border: 1.6px solid #010101;
  border-radius: 8.8px;
  width: 100%;
  height: 15.8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -11.7px;
  width: 15px;
  height: 36px;
  background: #36ff00;
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d41bbc;
}
input[type=range]::-moz-range-track {
  background: #d41bbc;
  border: 1.6px solid #010101;
  border-radius: 8.8px;
  width: 100%;
  height: 15.8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 36px;
  background: #36ff00;
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 11.1px 0;
  color: transparent;
  width: 100%;
  height: 15.8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #d41bbc;
  border: 1.6px solid #010101;
  border-radius: 17.6px;
}
input[type=range]::-ms-fill-upper {
  background: #d41bbc;
  border: 1.6px solid #010101;
  border-radius: 17.6px;
}
input[type=range]::-ms-thumb {
  width: 15px;
  height: 36px;
  background: #36ff00;
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #d41bbc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d41bbc;
}