body {
  font-family: sans-serif;
  font-style: normal;
  color: black;
  background-color: cornflowerblue;
}

.intro{
  
}

.shufflecontain p{
  display: flex;
  justify-content: center;
  padding-left: 95px;
  font-style: bold;
}


.question{
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.label{
  font-weight: bold;
  font-size: x-large;
}

.labelg{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
}

.labelgcenter{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

#labelgcenter{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

#labelgcenter2{
  font-weight: bold;
  font-size: x-large;
  color: greenyellow;
  display: flex;
  justify-content: center;
}

.header{
	display: flex;
	justify-content: center;
  height: 100%;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#fish{
	display: flex;
	flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#fish2{
	display: flex;
	flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.searchform input[type=text], select {
  width: 100%;
  padding: 20px 35px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.searchformart input[type=text], select {
  width: 100%;
  padding: 20px 35px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#searchy{
  padding:20px;
}

.fishchild img{
	border: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 8px;
  justify-content: center;
  flex-grow: 1;
}

a{
  text-decoration: none;
}

.fishchild img:hover{
	opacity: 0.3;
}


.searchform{
  border: black;
  border-width: 1px;
}

.searchformart{
  border: black solid 3px;
  margin-top: 23px;
  padding: 10px;
}

.middlecontain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.searchcontain{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: black solid 3px;
}

.searchcontainart{
  padding: 20px;
}

.shufflecontain{
  padding-left: 20px;
  padding-right: 20px;
  border: black solid 3px;
}

.notfoundtext{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boldtext{
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 7px;
}

.bigboldtext{
  font-size: xx-large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 7px;
}

#tuneslink{
  font-size: x-large;
  font-weight: bold;
}

.ulcontain{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

#ulcontain{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

#ulcontain2{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

.artistpage{
  display: flex;
  justify-content: center;
}
.artisth1{
  display: flex;
  justify-content: center;
  margin-left: 5em;
  margin-right: 5em;
}

.artistinfo{
  display: flex;
  justify-content: center;
  font-size: large;
  padding-left: 50px;
  padding-right: 50px;
}

ul{
list-style-type: none;
}

.welcometxt{
  display: flex;
  justify-content: center;
}

.imgtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 1;
  position: relative;
}

.space{
	margin-bottom: 17px
}
#fish div{
  padding-left: 1.5em;
  padding-bottom: 0.75em;
}

#fish2 div{
  padding-left: 1.5em;
  padding-bottom: 0.75em;
}

li.tunetext{
  font-size: x-large;
  text-align: center;
}

.contactdiv{
  align-items: center;
  align-self: center;
}

.contact form{
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:75%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  font-size: 24px;
}
.button{
  font-size: 24px;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.faqform{
  display: flex;
  justify-content: center;
  padding-left: 7em;
  flex-wrap: wrap;
}

.faqform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 5em;
}


.faqform form input, .faqform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.faqform form .label{
  width: 800px;
}

.loginform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loginform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 5.4em;
}


.loginform form input, .loginform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.loginform form .label{
  width: 800px;
}

.changepassform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0.5em;
}

.changepassform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 1.9em;
}


.changepassform form input, .changepassform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.changepassform form .label{
  width: 800px;
}

.createacctform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 1.7em;
}

.createacctform form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  padding: 1.5em;
  font-size: 48px;
  margin-left: 2.2em;
}


.createacctform form input, .createacctform form textarea{
  font-size: 24px;
  padding-top:1.5em;
  padding-bottom:1.5em;
  padding-left:1em;
  padding-right: 20em;
}
.createacctform form .label{
  width: 800px;
}


#paypal img{
  margin-top: 30px;
}

.faqtext{
    display: flex;
    justify-content: center;
    justify-self: center;
 }
 
 .ftxt{
    display: flex;
    justify-content: center;
    width: 750px;
    margin: 0.7em;
    font-size: x-large;
 }

 .faqmainbtn form{
    display: flex;
    justify-content: center;
    justify-self: center;
}

 .faqmainbtn form input{
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    font-size: 36px;
    margin-bottom: 0.3em;
 }

.navbar{
  background-color:#3b5998;
  overflow:hidden;
  height: 60px;
  margin: 0px 0px 0px 0px;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size: 30px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

p{
  padding-right: 100px;
}

#tunesoftheweek{
  display: none;
  border: black solid 5px;
}

li.tunetexttotw{
  font-size: large;
  text-align: center;
}

.ulcontaintotw{
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  flex-wrap: wrap;
}

.totw audio{
  width: 250px;
  height: 39px;
}
.totw{
  display: flex;
  justify-content: center;
}
.regaudio{
    display: flex;
    justify-content: center;
}

.downloadbutton{
  display: flex;
  justify-content: center;
}

#shuftext{
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

#shufaudio{
  display: flex;
  justify-content: center;
}

#shuffleforward img:hover{
  opacity: 0.3;
  border: 2px visible black;
}