.header{
	display: flex;
	justify-content: center;
  	height: 100%;
}

.fish{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
  	height: 100%;
  	justify-content: space-around;

}

.space{
	margin-bottom: 17px
}
.fish div{
	border: 1px #ccc solid;
}

